<div id='home'>
	<section id='section1'>
		<div>
			<header class='heading'>
				<h2>A Brief History</h2>
			</header>
				<p>Born in Utah, raised in Utah and Arizona</p>
				<p>BA in International Relations</p>
				<p>Three years at Goldman Sachs in Compliance</p>
		</div>
	</section>
	<section id='section2'>
		<header class='heading heading2'>
			<h2>Things I Enjoy</h2>
		</header>
		<h3>Fly Fishing (and the outdoors in general)</h3>
		<img src="assets/big-fish.jpg" alt="Picture of me holding a big fish">
		<img src="assets/nature-selfie.jpg" alt="A selfie in nature">
		<img src="assets/small-fish.jpg" alt="Picture of me holding a small fish">
		<h3>Video Games</h3>
		<img src="assets/sc-logo.jpg" alt="Starcraft Logo">
		<img src="assets/kf2.jpg" alt="Killing Floor 2 Logo">
		<h3>Family</h3>
		<img src="assets/engagement.jpg" alt="Engagement Photo">
	</section>
	<section id='section3'>
		<header class='heading heading3'>
			<h2>Why Coding?</h2>
		</header>
		<div>
			<h3>I have had various career goals</h3>
			<ul>
				<li>Music</li>
				<li>FBI Agent</li>
				<li>Goldman Sachs</li>
			</ul>
			<h3>On this journey I have discovered that I consistently enjoy two things: building things and solving puzzles</h3>
		</div>
	</section>
</div>