<h1>Contact Form</h1>
<div id='contact-form'>
	<form action='/thank_you' method='get'>
		<label>
			Email
			<input type="email" name="Email">
		</label>
		<label class='message'>
			Message
			<textarea rows="20" columns="50" class='message-box'></textarea>
		</label>
		<button name="submit" >
			Submit
		</button>
	</form>
</div>